*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

header{
    padding: 1rem 0;
}
.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    
}
.aaaaa{
    margin: .5rem;
    padding: 2rem 0;
    border-radius: 4px;
    background-color: black;
}
.input-container input{
    display: block;
}
.input-container button{
    background-color: rgb(0, 0, 0);
    margin: .2rem 0;
    border: none;
    color: antiquewhite;
    padding: .8rem 1.5rem;
}
.result-container{
    color: aliceblue;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
img{
    width: 50%;
    height: auto;
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    width: 75vw;
}
.card-name{
    
    display: flex;
    text-align: center;
    justify-content: space-around;
    position: absolute;
    width: 80%;
    overflow-wrap: break-word;
    top: -2.5rem;
}

.result-container h2{
    width: 40%;
    font-size: 1.2rem;
}

#notice{
    display: inline-block;
    border-radius: 5px;
    font-size: smaller;
    border: 1px solid #ff1111;
    background: #ffe8e8;
    padding: .5rem 1rem;
    margin: 1rem 0;
}

@media (min-width: 1020px) {
     /* big landscape tablets, laptops, and desktops */ 
     .input-container{
        flex-direction: row;
     }
     
     .card-name{
        top: -2.5rem;
        font-size: 1rem;
     }
     .card-container{
        width: 25vw;
        gap: 14%;
        margin: 0;
    }
    .result-container h2{
        width: 100%;
       
    }
   
    .aaaaa{
        padding-top: 3rem;
        margin: 1rem 30%;
    }
    .result-container{
        margin: 0;
    }

    .input-container button{
        padding: 1rem 4rem;
    }



}